%section.content.container.cf
  %aside.aside.f-l
    %ul.aside__list
      = "#{@friends.size} Friends"
      = "#{@friends.select{ |friend| friend[:online] == 1 }.size} Friends online"
      - @friends.each do |friend|
        %li.aside__item
          = link_to change_dialog_url(id: friend[:id].to_i), class: 'friend-box', remote: true do
            %img.friend-box__img{:alt => "", :src => friend[:photo]}
            %p.friend-box__name= "#{friend[:first_name]} #{friend[:last_name]}"
  .details.f-r
    = render partial: 'dialog', locals: { user: @friends.first }
